@font-face {
  font-family: PoetsenOne;
  src: url(../fonts/PoetsenOne.woff2) format('woff2');
  font-weight: 100;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  overflow: auto
}

::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  min-height: 25px;
  min-width: 25px;
  border: 1px solid #e0e0e0;
  border-radius: 99px
}

::-webkit-scrollbar-track {
  background-color: #f7f7f7;
  border: 1px solid #efefef
}
body{
  --mb-main-color: #409EFF;
  --mb-sidebar-width: 240px;
  --mb-main-icon-color: #909399;
  --mb-header-height: 60px;
  --mb-avatar-text-size: 18px;
}
.el-header{
  --el-header-height: var(--mb-header-height);
}
.el-avatar{
  --el-avatar-text-size: var(--mb-avatar-text-size);
  --el-avatar-bg-color: var(--mb-main-color);
  border: 1px solid white;
}
.app-container hr {
  border: none;
  height: 1px;
  background: #F3F3F3;
}
.toolbar-container{
  margin-bottom: 10px
}
.toolbar-container > div{
  margin-left: 10px;
}
.toolbar-container > div:nth-child(1){
  margin-left: 0px;
}
.clear{
  clear: both;
}
a{
  text-decoration: none;
}
