body {
  --el-dialog__wrapper-bottom: 15vh;
  --el-dialog__wrapper-top: 15vh;
  --el-dialog__body-max-height: 60vh;
}
.app-container hr {
  border: none;
  height: 1px;
  background: #F3F3F3;
}
.toolbar-container{
  margin-bottom: 10px
}
